<div id="content" class="container">
  <%= yield %>
  <div class="footer">
    <%= image_tag('footer/eu.jpg') %>
    <%= image_tag('footer/fp7.jpg') %>
    <%= image_tag('footer/arup.png') %>
    <%= image_tag('footer/bipolaire.png') %>
    <%= image_tag('footer/cstb.png') %>
    <%= image_tag('footer/omgeving.png') %>
    <%= image_tag('footer/sp.png') %>
    <%= image_tag('footer/strusoft.png') %>
    <%= image_tag('footer/tno.png') %>
    <%= image_tag('footer/vabi.png') %>
    <%= image_tag('footer/vito.png') %>
    <%= image_tag('footer/white.png') %>
  </div>
</div>